<%- include('partials/header') %>
    <div class="box" id="heading">
        <h1>
            Welcome to Todoey!
        </h1>
    </div>
    <div class="container">
        <p>A minimalistic, lightweight to-do list you can use anywhere!</p>

        <a class="btn  btn-outline-primary  btn-lg" href="/register" role="button">Register</a>
        <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>

    </div>


    <%- include('partials/footer') %>